<header>
  <nav class="main-nav">
    <div class="nav-container">
      <div class="logo">
        <a href="/index">yelp_camp</a>
      </div>
      <!-- <div class="nav-btn">
        <a href="/index">camp</a>
        <a href="/index/new">form</a>
      </div> -->
      <div class="mini-bar">
        <span class="burger-bar"><i class="fas fa-bars"></i></span>
      </div>
      <div class="navbar">
        <div class="nav-tags">
          <% if(!currentuser){ %>
          <a class="register" href="/register">sign up</a>
          <a class="login" href="/login">login</a>
          <% }else{ %>
          <h4>
            welcome <span class="user-name"><%= currentuser.username%></span>
          </h4>
          <a href="/logout">logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

  <div class="message-container">
  <% if(error && error.length > 0){ %>
    <div class="message danger">
      <%= error%>
    </div>
  <% } %>

    <% if(success && success.length > 0){ %>
      <div class="message success ">
        <%= success%>
      </div>
    <% } %>
      </div>
  